/* line 2, ../../compass/sass/styles.sass */
body {
  background-color: #1d96d7;
}

/* line 4, ../../compass/sass/styles.sass */
.header {
  height: 60px;
  background-color: #f2f2f2;
  overflow: hidden;
}
/* line 8, ../../compass/sass/styles.sass */
.header .menu-wrapper {
  max-width: 960px;
  margin: auto;
  text-align: center;
}
/* line 12, ../../compass/sass/styles.sass */
.header .menu-wrapper li {
  list-style-type: none;
  display: inline-block;
  float: left;
  padding: 5px 20px;
}

/* line 17, ../../compass/sass/styles.sass */
.main-content {
  max-width: 960px;
  margin: auto;
  border-radius: 5px;
  background-color: #f2f2f2;
}
/* line 22, ../../compass/sass/styles.sass */
.main-content .header-image {
  text-align: center;
}
/* line 24, ../../compass/sass/styles.sass */
.main-content .header-image img {
  max-width: 100%;
  border-radius: 12px;
}
/* line 27, ../../compass/sass/styles.sass */
.main-content .left-content-bar {
  width: 69%;
  display: inline-block;
  box-sizing: border-box;
  padding-left: 20px;
}
/* line 33, ../../compass/sass/styles.sass */
.main-content .left-content-bar p.left-bar-header {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #253b56;
  margin: 0px;
}
/* line 39, ../../compass/sass/styles.sass */
.main-content .left-content-bar .more_link {
  font-size: 18px;
}
/* line 42, ../../compass/sass/styles.sass */
.main-content .left-content-bar .left-block-items .left-block-item {
  margin-top: 10px;
  border-bottom: 1px solid #ccc;
}
/* line 45, ../../compass/sass/styles.sass */
.main-content .left-content-bar .left-block-items .left-block-item .hero-image {
  vertical-align: top;
  margin-bottom: 10px;
  display: inline-block;
  max-width: 30%;
}
/* line 50, ../../compass/sass/styles.sass */
.main-content .left-content-bar .left-block-items .left-block-item .hero-image img {
  max-width: 100%;
}
/* line 52, ../../compass/sass/styles.sass */
.main-content .left-content-bar .left-block-items .left-block-item .hero-wrapper {
  max-width: 60%;
  display: inline-block;
}
/* line 55, ../../compass/sass/styles.sass */
.main-content .left-content-bar .left-block-items .left-block-item .hero-wrapper .block-header {
  font-size: 20px;
  font-weight: bold;
}
/* line 59, ../../compass/sass/styles.sass */
.main-content .right-content-bar {
  width: 29%;
  display: inline-block;
  vertical-align: top;
}
/* line 63, ../../compass/sass/styles.sass */
.main-content .right-content-bar .hours {
  margin: 5px 0px 35px;
  padding: 10px;
  background-color: #d9eef9;
  border-radius: 12px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}
/* line 70, ../../compass/sass/styles.sass */
.main-content .right-content-bar .hours p {
  margin-bottom: 0px;
}
/* line 72, ../../compass/sass/styles.sass */
.main-content .right-content-bar .hours .bigger {
  font-size: 18px;
  font-weight: bold;
}
/* line 75, ../../compass/sass/styles.sass */
.main-content .right-content-bar .hours .print-map {
  padding: 20px 0px;
}
/* line 77, ../../compass/sass/styles.sass */
.main-content .right-content-bar .tickets {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #1d96d7;
  border-radius: 12px;
  text-align: center;
  padding: 20px 0px;
}
/* line 83, ../../compass/sass/styles.sass */
.main-content .right-content-bar .tickets p {
  color: #f2f2f2;
}
/* line 85, ../../compass/sass/styles.sass */
.main-content .right-content-bar .tickets .ticket-price {
  color: #f2f2f2;
  font-size: 36px;
  font-weight: bold;
}
/* line 89, ../../compass/sass/styles.sass */
.main-content .right-content-bar .tickets button {
  background-color: #1d96d7;
  color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 30px;
  transition: all 0.7s ease;
}
/* line 95, ../../compass/sass/styles.sass */
.main-content .right-content-bar .tickets button:hover {
  background-color: #deedf4;
  color: #1d96d7;
}
/* line 98, ../../compass/sass/styles.sass */
.main-content .right-content-bar .map {
  text-align: center;
  margin-top: 30px;
}
