<!DOCTYPE html>
<html>
<head>
	<title>DISNEY</title>
	<link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>
<body>
	<div class="header">
		<ul class="menu-wrapper">
			<li>parks & tickets</li>
			<li>Places to stay</li>
			<li>things to do</li>
			<li>help</li>
			<li>cart</li>
		</ul>
	</div>
	<div class="main-content">
		<div class="main-header">
			<h1>Disney's Animal Kingdom Theme Park</h1>
		</div>
		<div class="header-image">
			<img src="static/images/animal-kingdom.jpg" alt="">
		</div>
		<div class="left-content-bar">
			<p class="left-bar-header">
				{{header[0][0]}}
				<!-- Encounter the magic of nature with rare creatures, authentic adventures and world-class entertainment at Disney’s Animal Kingdom park, one of the largest animal theme parks in the world. Read More -->
			</p>
			<div class="left-block-items">
				<div class="left-block-item">
					<div class="hero-image">
						<img src="static/images/animal-kingdom-night-14.jpg" alt="">
					</div>
					<div class="hero-wrapper">
						<p class="block-header">
							Nighttime Experiences
						</p>
						<p class="block-text">
							For the very first time, Disney’s Animal Kingdom park is alive with magic nightly with new attractions, dining and entertainment.
						</p>
					</div>
				</div>
				<div class="left-block-item">
					<div class="hero-image">
						<img src="static/images/animal-kingdom-night-14.jpg" alt="">
					</div>
					<div class="hero-wrapper">
						<p class="block-header">
							Nighttime Experiences
						</p>
						<p class="block-text">
							For the very first time, Disney’s Animal Kingdom park is alive with magic nightly with new attractions, dining and entertainment.
						</p>
					</div>
				</div>
				<div class="left-block-item">
					<div class="hero-image">
						<img src="static/images/animal-kingdom-night-14.jpg" alt="">
					</div>
					<div class="hero-wrapper">
						<p class="block-header">
							Nighttime Experiences
						</p>
						<p class="block-text">
							For the very first time, Disney’s Animal Kingdom park is alive with magic nightly with new attractions, dining and entertainment.
						</p>
					</div>
				</div>
				<div class="left-block-item">
					<div class="hero-image">
						<img src="static/images/animal-kingdom-night-14.jpg" alt="">
					</div>
					<div class="hero-wrapper">
						<p class="block-header">
							Nighttime Experiences
						</p>
						<p class="block-text">
							For the very first time, Disney’s Animal Kingdom park is alive with magic nightly with new attractions, dining and entertainment.
						</p>
					</div>
				</div>
				<div class="left-block-item">
					<div class="hero-image">
						<img src="static/images/animal-kingdom-night-14.jpg" alt="">
					</div>
					<div class="hero-wrapper">
						<p class="block-header">
							Nighttime Experiences
						</p>
						<p class="block-text">
							For the very first time, Disney’s Animal Kingdom park is alive with magic nightly with new attractions, dining and entertainment.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="right-content-bar">
			<div class="hours">
				<p>Hours</p>
				<p>Wednesday</p>
				<p>September 28, 2016</p>
				<p>9:00 AM to 9:00 PM</p>
			</div>
			<div class="print-map">
				Download Printable Map
				Guest Services
			</div>
			<div class="tickets">
				<p>Starting at</p>
				<p class="ticket-price">$97.00</p>
				<p>for a 1 day ticket</p>
				<button>Purchase Admission</button>
			</div>
			<div class="map">
				<img src="static/images/map.png" alt="">
			</div>
		</div>
	</div>
</body>
</html>